<h1>List of users </h1>

  <table border="1">
    <thead>
      <tr>
        <th>Username</th>
        <th>Private?</th>
        <th></th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.username %></td>
          <td><%= user.private? %></td>
          <td><%= director.name %></td>
          <td><%= link_to "Show details", "/user/show"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
